.dot {
    background-color: silver;
    border-radius: 50%;
    height: 1rem;
    width:1rem;
    margin-bottom:.5rem;
  }

  @keyframes fade {
    0% {
      opacity: 1;
      background:silver;
    }
    99% {
      opacity: 0;
      background:silver;
    }
    100%
    {
      opacity:1;
    }
  }
  @keyframes fade1 {
    0% {
      opacity: 1;
      background:silver;
    }
    99% {
      opacity: 0;
      background:silver;
    }
    100%
    {
      opacity:1;
    }
  }
  .dot.calibration{
    display: none;
  }
  .dot.state1{
    background-color:yellow;
    opacity: 0.2;
    display: inline;
  }
  .dot.state2{
    background:yellow;
    opacity: 0.4;
 
    animation:
    .5s 1 alternate fade;
  }
  .dot.state3{
    background-color:yellow;
    opacity: 0.6;

    animation:
    .5s 1 alternate fade1;
  }
  .dot.state4{
    background-color:yellow;
    opacity: 0.8;

    animation:
    .5s 1 alternate fade;
  }
  .dot.state5{
    background-color:yellow;
    opacity: 0.9;

    animation:
    .5s 1 alternate fade1;
  }
  .dot.stateFinished{
    background-color:red;

    animation:
    .5s 1 alternate fade;
  }

  .dot:nth-child(1) {
    grid-area: first;
  }

  .dot:nth-child(2) {
    grid-area: second;
    justify-self: end;
  }
  .dot:nth-child(3) {
    grid-area: third;
    justify-self: center;
  }
  .dot:nth-child(4) {
    grid-area: fourth;
  }
  .dot:nth-child(5) {
    grid-area: fifth;
    justify-self: center;
  }
  .dot:nth-child(6) {
    grid-area: six;
    justify-self: end;

  }
  .dot:nth-child(7) {
    grid-area: seven;
    justify-self: center;
  }
  .dot:nth-child(8) {
    grid-area: eigth;
  }
  .dot:nth-child(9) {
    grid-area: nine;
    justify-self: end;
  }

  .container_buttons {
    height: 100%;
    display: grid;
    grid-auto-flow: column row;
    border: 2px solid #521634;
    grid-template-areas: 
    "first . second"
    ". third ."
    "fourth fifth six"
    ". seven ."
    "eigth . nine";
  }