.container_grid{
    height: 100%;
    display: flex;
    flex-flow: column;
}

.radio_group {
    flex-grow: 1;

}

ion-radio{
    height: 110px;
    width: 200px;
    margin-left: calc(50% - 100px);
}

@media(max-height:820px) {
ion-radio{
    height: 90px;
}
}

@media(max-height:720px) {
    ion-radio{
        height: 60px;
    }
    }

    @media(max-height:550px) {
        ion-radio{
            height: 30px;
        }
        }