ion-grid {
    width: 100%;
}

@media(min-width:768px) {
    ion-button {
        width: 300px;
    }
}

@media(max-width:768px) {
    ion-button {
        width: 70%;
        max-width: 300px;
    }
}