<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-text>
    This application was developed as part of the master thesis "Conception and Development of a mobile Gazetracker Application". <br>
    It uses the open source <a href="https://webgazer.cs.brown.edu">webgazer.js</a> in combination with <a href="https://ionicframework.com/">Ionic</a> to work on mobile devices in native code. <br>
    To work as expected the application needs permission to the camera and connection to the internet. <br>
  </ion-text>
</ion-content>